<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Buku</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Data Buku
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Tarik Untuk Memuat Data"
        refreshingSpinner="circles" refreshingText="Memuat Ulang Data...">
      </ion-refresher-content>
    </ion-refresher>
    <hr>
    <ion-card>
      <ion-button color="success" expand="block" [routerLink]="['/buku_tambah']">Tambah Buku</ion-button>
    </ion-card>
    <hr>
    <ion-card *ngFor="let item of lists">
      <ion-item>
        <ion-label>
          {{item.kd_buku}}
          <p>{{item.cover}}</p>
          <p>{{item.judul}}</p>
          <p>{{item.pengarang}}</p>
          <p>{{item.penerbit}}</p>
          <p>{{item.kategori}}</p>
          <p>{{item.lokasi}}</p>
          <p>{{item.ketersediaan}}</p>
        </ion-label>
        <ion-button color="primary" slot="end" [routerLink]="['/buku_edit/',item.kd_buku]"
          routerLinkActive="router-link-active">Edit</ion-button>
        <ion-button color="danger" slot="end" (click)="deleteBuku(item.kd_buku)">Hapus</ion-button>
      </ion-item>
    </ion-card>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Sedang Memuat Data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-item (click)="logout()">
      <ion-icon slot="start" ios="exit-outline" md="exit-sharp"></ion-icon>
      <ion-label>Logout</ion-label>
    </ion-item>
  </ion-content>
